@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

:root {
     --accent-color: #162C4E;
     --text-color: rgba(0, 0, 0, 0.8);
     --tablet-width: 768px;
     --mobile-wdth: 360px;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: "Poppins", sans-serif;
     overflow: hidden;
}


@font-face {
     font-family: "SF Pro Display";
     src: url('./fonts/SF-Pro-Display-Regular/SF-Pro-Display-Regular.eot');
     src: local('0'), url('./fonts/SF-Pro-Display-Regular/SF-Pro-Display-Regular.woff') format('woff'), url('./fonts/SF-Pro-Display-Regular/SF-Pro-Display-Regular.ttf') format('truetype'), url('./fonts/SF-Pro-Display-Regular/SF-Pro-Display-Regular.woff2') format('woff2'), url('./fonts/SF-Pro-Display-Regular/SF-Pro-Display-Regular.otf') format('truetype');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: "SF Pro Display";
     src: url('./fonts/SF-Pro-Display-Medium/SF-Pro-Display-Medium.eot');
     src: local('0'), url('./fonts/SF-Pro-Display-Medium/SF-Pro-Display-Medium.woff') format('woff'), url('./fonts/SF-Pro-Display-Medium/SF-Pro-Display-Medium.ttf') format('truetype'), url('./fonts/SF-Pro-Display-Medium/SF-Pro-Display-Medium.woff2') format('woff2'), url('./fonts/SF-Pro-Display-Medium/SF-Pro-Display-Medium.otf') format('truetype');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: "SF Pro Display";
     src: url('./fonts/SF-Pro-Display-Semibold/SF-Pro-Display-Semibold.eot');
     src: local('0'), url('./fonts/SF-Pro-Display-Semibold/SF-Pro-Display-Semibold.woff') format('woff'), url('./fonts/SF-Pro-Display-Semibold/SF-Pro-Display-Semibold.ttf') format('truetype'), url('./fonts/SF-Pro-Display-Semibold/SF-Pro-Display-Semibold.woff2') format('woff2'), url('./fonts/SF-Pro-Display-Semibold/SF-Pro-Display-Semibold.otf') format('truetype');
     font-weight: 600;
     font-style: normal;
}

/*   */

.wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     overflow: hidden;
}

[class*="__container"] {
     max-width: auto;
     margin: 0 auto;
}

.decorator {
     position: absolute;
     top: 0;
}

.decorator-left {
     left: 0;
     animation: leftDecoratorAppear 2s ease 0s forwards;
}

.decorator-right {
     right: 0;
     animation: rightDecoratorAppear 2s ease 0s forwards;
}

.decorator-left img {
     animation: imageAppear 2s ease 0s forwards;
}

.decorator-right img {
     animation: imageAppear 2s ease 0s forwards;
}

.tablet-decor {
     display: none;
}

.mobile-decor {
     display: none;
}

.header {
     margin-top: 60px;
}

.header__container {
     text-align: center;
}

.header__image {
     max-width: 190px;
     animation: contentAppear .5s linear 0s forwards;
     opacity: 0;
}

.page {
     flex: 1 1 auto;
     margin-top: 93px;
}

.page__container {
     text-align: center;
}

.page__text {
     animation: contentAppear .5s linear .5s forwards;
     opacity: 0;
}

.page__title {
     font-weight: 700;
     font-size: 72px;
     text-transform: uppercase;
     color: var(--accent-color);
     opacity: 0.39;



}

.page__subtitle {
     font-size: 18px;
     color: var(--text-color);

}

.countdown {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 32px;
     max-width: 588px;
     margin: 0 auto;
     animation: contentAppear .5s linear 1s forwards;
     opacity: 0;
}


.countdown__body {
     width: 100%;
     display: grid;
     grid-template-columns: 132px 20px 132px 20px 132px 20px 132px;
     align-items: center;
}

.countdown__item {
     font-weight: 600;
     color: var(--accent-color);
     font-size: 72px;
     text-align: center;
}

.countdown__labels {
     display: grid;
     grid-template-columns: repeat(4, 132px);
     grid-column-gap: 20px;
}

.countdown__label {
     height: 54px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     color: #fff;

     position: relative;
}

.countdown__label img {
     max-width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     z-index: -1;
}


.page__controls {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 12px;
     opacity: 0;
     animation: contentAppear .5s linear 1.5s forwards;
}

.controls {
     margin: 72px 0;

}

.controls__title {
     font-size: 18px;
     color: var(--text-color);

}

.controls__btn {
     all: unset;
     gap: 33px;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     font-size: 18px;
     background-color: #1D4169;
     border-radius: 40px;
     padding: 17px 28px;
     transition: all .5s ease;

}

.controls__btn:hover {
     background-color: #4272a9;
}

.footer {
     height: 192px;
     background-color: var(--accent-color);
     display: grid;
     grid-template-columns: repeat(3, 33.333%);
     justify-content: center;
     align-items: center;
}

.footer__wrapper {
     width: 440px;
     position: relative;
     grid-column-start: 2;

     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
}

.footer__link {
     justify-self: center;
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;

}

.footer__link span {
     font-weight: 400;
     font-size: 20px;
     color: #fff;

}

.footer__link img {
     transition: transform .3s ease;
}

.footer__link:visited {
     color: inherit;
     text-decoration: none;
}

.footer__link.active.footer__link img {
     transform: rotate(180deg);
}

.footer__input {
     width: 100%;
     border-radius: 40px;
     border: 1px solid var(--text-color);
     box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
     padding: 16px 55px 16px 27px;
     transition: all .5s ease;
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     color: rgba(0, 0, 0, 0.6);
}

.footer__input:focus {
     outline: none;
}

.footer__btn {
     position: absolute;
     top: 50%;
     right: 8px;

     transform: translateY(-50%);

     width: 43px;
     height: 43px;

     background-color: #DF2224;
     border: none;
     border-radius: 50%;

     display: flex;
     justify-content: center;
     align-items: center;

     cursor: pointer;

     z-index: 2;

     transition: background-color .5s ease;
}

.footer__btn:disabled {
     background-color: grey;
     cursor: auto;
}

.modal {
     position: absolute;
     top: 0;
     left: 0;

     width: 100%;
     height: 100%;

     background-color: rgba(22, 44, 78, 0.6);

     display: none;
     justify-content: center;
     align-items: center;

     overflow: hidden;
}

.modal.active {
     display: flex;
}

.modal__body {
     background-color: #fff;
     padding: 24px 24px 70px 24px;
     max-width: 320px;

     animation: appear .1s linear;
}

@keyframes appear {
     from {
          transform: translateY(20%);
          opacity: 0.3;
     }

     to {
          transform: translateY(0%);
          opacity: 1;
     }
}

.modal__header {
     width: 100%;
     display: flex;
     flex-direction: row-reverse;
}

.modal__header img {
     cursor: pointer;
}

.modal__content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 29px;
}

.modal__title {
     font-weight: 700;
     color: var(--accent-color);
     font-size: 36px;
     text-transform: uppercase;
}

.modal__text {
     text-align: center;
     font-size: 16px;
     color: var(--text-color);
}

.modal__btn {
     padding: 16px 74px;
}

ul li {
     list-style: none;
}

.events {
     padding: 100px;
     height: 100vh;
}

.events__list {
     display: flex;
     gap: 4px;
     overflow: hidden;
}

.events__item {
     flex: 0 0 85px;
     display: flex;
     overflow: hidden;
     height: 680px;

     transition: flex .5s ease;
}

.events__header {
     margin-bottom: 40px;
}

.events__header h2 {
     text-align: center;
     text-transform: uppercase;

     font-weight: 700;
     font-size: 72px;

     color: var(--accent-color);
     opacity: 0.39;
}

.item {
     border-bottom: 3px solid hsla(359, 75%, 50%, 1);
}

.item.active {
     flex: 1 0 auto;
}

.item.active .item__header::after {
     opacity: 1;
}

.item__body {
     position: relative;
     width: 100%;

     overflow: hidden;
}


.item__header {
     flex: 0 0 85px;
     display: flex;
     flex-direction: column-reverse;
     align-items: center;
     gap: 40px;
     padding: 20px 0px;
     background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), var(--background) center;

     cursor: pointer;
     position: relative;
}

.item__header::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: var(--accent-color);
     opacity: 0;
     z-index: 1;
     transition: opacity .5s ease;
}

.item__number {
     color: #fff;
     font-family: "SF Pro Display", sans-serif;
     font-size: 40px;
     font-weight: 500;
     letter-spacing: -0.03em;

     position: relative;
     z-index: 2;
}

.item__title {
     writing-mode: vertical-rl;
     transform: rotate(180deg);

     color: #fff;
     font-family: "SF Pro Display", sans-serif;
     font-size: 32px;
     font-weight: 600;

     position: relative;
     z-index: 2;
}

.item__side {
     position: absolute;
     top: 0;
     left: 0;
     width: auto;
     height: 100%;
     background: rgba(18, 18, 18, 0.8);
     backdrop-filter: blur(20px);
     z-index: 2;

     display: flex;
     flex-direction: column-reverse;
     padding: 36px 68px 36px 41px;
}


.item__image {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.item__button {
     display: flex;
     justify-content: center;
     align-items: center;

     text-decoration: none;
     color: rgba(255, 255, 255, 0.8);
     letter-spacing: 0.03em;

     font-family: "SF Pro Display", sans-serif;
     font-size: 18px;
     font-weight: 600;

     border: 2px solid rgba(255, 255, 255, 0.8);
     position: relative;

     padding: 20px 55px;

     transition: color .5s ease;

     width: fit-content;
}

.item__button::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 6px;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.8);
     transition: width .5s ease;
     z-index: -1;
}

.item__button:hover {
     color: #000;
}

.item__button:hover::after {
     width: 100%;
}

.item__second-title {
     font-family: "SF Pro Dislay", sans-serif;
     font-weight: 600;
     font-size: 24px;
     color: #fff;
     margin-bottom: 12px;
}

.item__num {
     position: absolute;
     top: 0;
     left: 0;

     transform: translate(-30%, -15%);

     font-family: "SF Pro Display";
     font-size: 300px;
     font-weight: 600;

     color: rgba(255, 255, 255, 0.04);

     letter-spacing: -0.03em;

     z-index: 3;
}

.item__date {
     font-family: "SF Pro Display", sans-serif;
     font-size: 18px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.8);
     margin-bottom: 37px;
}

@media (max-width: 1600px) {
     .item__side {
          padding: 18px 34px 18px 20px;
     }

     .item__second-title {
          font-size: 20px;
     }

     .item__button {
          padding: 15px 24px;
     }

     .item__num {
          font-size: 250px;
     }


}

@media (max-width: 1400px) {

     .footer {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;
          align-items: center;
     }

     .events {
          height: auto;
          padding: 50px;
     }

     .events__list {
          flex-direction: column;
     }

     .item__num {

          font-size: 152px;

          left: unset;
          top: unset;
          transform: unset;
          right: 0;
          bottom: 0;

          transform: translateX(15%) translateY(-10%);
     }

     body {
          overflow: auto;
     }

     .events__item {
          flex-direction: column-reverse;
          gap: 4px;
     }

     .events__item.active {
          flex: 1 0 545px;
     }


     .item__body {
          height: 100%;
     }

     .item__image {
          object-position: top;
          object-fit: cover;
     }

     .item__side {
          top: unset;
          bottom: 0;
          width: 100%;
          height: 40%;
     }

     .item__header {
          flex-direction: row;
          padding-left: 40px;
          background: linear-gradient(-90deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), var(--background) center;
     }

     .item__title {
          writing-mode: horizontal-tb;
          transform: rotate(0deg);
     }
}

@media (max-width: 1120px) {
     .desktop-decor {
          display: none;
     }

     .tablet-decor {
          display: block;
     }

}


@media (max-width: 768px) {


     .page__title {
          font-size: 36px;
     }

     .page__subtitle {
          font-size: 16px;
     }

     .countdown__item {
          font-size: 36px;
     }

     .countdown__body {
          grid-template-columns: 64px 10px 64px 10px 64px 10px 64px;
          justify-content: center;
     }

     .countdown__labels {
          grid-template-columns: repeat(4, 64px);
          grid-column-gap: 10px;
     }

     .countdown__label {
          font-size: 12px;
     }

     .footer {
          height: 160px;
     }

     .page {
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .footer__wrapper {
          width: 360px;
     }

     .footer__btn {
          width: 33px;
          height: 33px;
     }

     .footer__input {
          font-size: 14px;
          padding: 10px 40px 10px 10px;
     }

     .header {
          margin-top: 98px;
     }

     .events {
          padding: 40px;
     }

     .events__header h2 {
          font-size: 36px;
     }

     .events__header {
          margin-bottom: 20px;
     }

     .item__title {
          font-size: 24px;
     }

     .item__second-title {
          font-size: 18px;
          margin-bottom: 8px;
     }

     .item__date {
          font-size: 16px;
          margin-bottom: 30px;
     }

     .item__button {
          font-size: 16px;
          padding: 12px 24px;
     }

     .item__side {
          padding: 25px 40px;
     }

     .item__title {
          font-size: 24px;
     }

     .item__number {
          font-size: 32px;
     }

     .item__header {
          gap: 32px;
     }

}

@media (max-width: 360px) {
     .header__image {
          max-width: 128px;
     }

     .footer {
          height: 141px;
     }

     .footer__wrapper {
          width: 280px;
     }

     .header {
          margin-top: 80px;
     }

     .events {
          padding: 20px;
     }

     .item__header {
          gap: 16px;
          padding: 20px;
     }

     .item__title {
          font-size: 18px;
     }

     .item__number {
          font-size: 24px;
     }

     .item__side {
          padding: 20px;
     }

     .item__second-title {
          font-size: 16px;
     }

     .item__date {
          font-size: 14px;
          margin-bottom: 20px;
     }

     .item__num {
          font-size: 80px;
          left: unset;
          right: 0;
          bottom: unset;
          top: 14px;
          transform: translateX(15%) translateY(-20%);
     }
}

@media (max-width: 535px) {
     .tablet-decor {
          display: none;
     }

     .mobile-decor {
          display: block;
     }
}

.loader {
     position: absolute;
     top: 0;
     left: 0;

     width: 100%;
     height: 100%;

     background-color: #fff;

     display: none;
     justify-content: center;
     align-items: center;
}

.loader.active {
     display: flex;
}

.loader div {
     border: 16px solid #f3f3f3;
     border-top: 16px solid var(--accent-color);
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

@keyframes leftDecoratorAppear {
     0% {
          opacity: 0;
          left: -100%;
          top: -100%;
     }

     100% {
          left: 0;
          top: 0;
          opacity: 1;
     }
}

@keyframes rightDecoratorAppear {
     0% {
          right: -100%;
          top: -100%;
     }

     100% {
          right: 0;
          top: 0;
     }
}

@keyframes contentAppear {
     0% {
          opacity: 0;
          transform: translateY(-100%);
          visibility: hidden;
     }

     100% {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
     }
}


@keyframes imageAppear {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}